html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: black;
}

#scene {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
